{% extends 'index.html' %}

{% block titulo %}
  Biblioteca.dev | Listado de Autores
{% endblock titulo %}

{% block body %}


      <div class="card">
          <div class="card-header">
              <strong class="card-title">Revisión de documento de cursante <h1>Cursante {{docente.nombre}} {{docente.apellidos}}  </h1></strong>
          </div>
          <div class="table-stats order-table ov-h">
              <table class="table">
                  <tbody>


                    <form method="POST">
                            {% csrf_token %}
                            <h2>'</h2>
                            <h2>Fecha de envio de documentos: {{docente.fecha_de_envio}} </h2>
                            <h2>Teléfono {{docente.telefono}} </h2>
                            <h2>Nº de cédula de identidad: {{docente.ci}} </h2>
                            <h2>Sexo: {{docente.sexo}}</h2>
                            <h2>Fuerza {{docente.fuerza}} </h2>
                            <h2>Correo: {{docente.correo}} </h2>
                            <h2>Nacionalidad: {{docente.nacionalidad}} </h2>
                            <h2>Estado de la documentación: {{docente.estado}} </h2>
                            <h2>Código secreto: {{docente.codigoS}} </h2>

                            <div>
                                <center>
                                    {% if not docente.imagen %}
                                    <h1>No se adjunto titulo de diplomado</h1>
                                    {% else %}
                                    <label>Imagen</label>
                                    <div><img src="/fotos/{{ docente.imagen }}"  height="200" width="200"></div>
                                    {% endif %}

                                    {% if not docente.titulo %}
                                    <h1>No se adjunto tiulo.</h1>
                                    {% else %}
                                    <h1>Título:</h1>
                                    <div><img src="/fotos/{{ docente.titulo }}"  height="700" width="500"></div>
                                    {% endif %}

                                    {% if not docente.solicitud %}
                                    <h1>No se adjunto solicitud.</h1>
                                    {% else %}
                                    <h1>Solicitud:</h1>
                                    <div><img src="/fotos/{{ docente.solicitud }}"  height="700" width="500"></div>
                                    {% endif %}

                                    {% if not docente.curriculum %}
                                    <h1>No se adjunto curriculum.</h1>
                                    {% else %}
                                    <h1>Curriculo</h1>
                                    <embed src="/fotos/{{ docente.curriculum }}" height="700" width="500">
                                    {% endif %}

                                    {% if not docente.certificado %}
                                    <h1>No se adjunto titulo de certificado de nacimiento.</h1>
                                    {% else %}
                                    <h2>Certificado de nacimiento</h2>
                                    <embed src="/fotos/{{ docente.certificado }}" height="900" width="700">
                                    {% endif %}

                                    {% if not docente.formulario %}
                                    <h1>No se adjunto titulo de formulario.</h1>
                                    {% else %}
                                    <h2>Formulario</h2>
                                    <embed src="/fotos/{{ docente.formulario }}" height="900" width="700">
                                    {% endif %}

                                    {% if not docente.cedula %}
                                    <h1>No se adjunto titulo de cedula.</h1>
                                    {% else %}
                                    <h2>Cedula de identidad</h2>
                                    <embed src="/fotos/{{ docente.cedula }}" height="900" width="700">
                                    {% endif %}

                                    {% if not docente.contrato %}
                                    <h1>No se adjunto titulo de contrato.</h1>
                                    {% else %}
                                    <h2>Contrato</h2>
                                    <embed src="/fotos/{{ docente.contrato }}" height="900" width="700">
                                    {% endif %}

                                    {% if not docente.certificado_no_adeudo %}
                                    <h1>No se adjunto certificado de no adeudo a la EMI.</h1>
                                    {% else %}
                                    <h2>Cerificado de no adeudo a la EMI</h2>
                                    <embed src="/fotos/{{ docente.certificado_no_adeudo }}" height="900" width="700">
                                    {% endif %}

                                    {% if not docente.luzagua %}
                                    <h1>No se adjunto titulo de luzagua.</h1>
                                    {% else %}
                                    <h2>Factura de luz o agua</h2>
                                    <embed src="/fotos/{{ docente.luzagua }}" height="900" width="700">
                                    {% endif %}

                                    {% if not docente.croquis %}
                                    <h1>No se adjunto croquis de domicilio.</h1>
                                    {% else %}
                                    <h2>Croquis de domicilio</h2>
                                    <embed src="/fotos/{{ docente.croquis }}" height="900" width="700">
                                    {% endif %}
                                    </center>

                            </div>
                            <button type="submit" class="btn btn-success">Aprobado</button>
                            <a href="{% url 'editarCursante' docente.id %}" class="btn btn-danger">Observar</a>
                            <a href="{% url 'correo' docente.id %}" class="btn btn-warning">Enviar Correo</a>
                            <a href="{% url 'listarTodoCursante' %}" class="btn btn-info">Cancelar</a>
                        </form>


                  </tbody>
              </table>

          </div>
      </div>

<div class="modal fade" id="creacion" role="dialog">

</div>

<div class="modal fade" id="edicion" role="dialog">

</div>

{% endblock body %}
{% block extrajs %}
<script type="text/javascript">
  var $ = jQuery.noConflict();
  function abrir_modal_edicion(url) {
    $('#edicion').load(url, function () {
      $(this).modal('show');
    });
  }
  function abrir_modal_creacion(url) {
    $('#creacion').load(url, function () {
      $(this).modal('show');
    });
  }
</script>
{% endblock extrajs %}

