<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hola {{ Docente.nombre }} {{ Docente.apellidos }} queremos informarmarte que:</h1>
    <h1>Tu documentación adjuntada se encuentra esta aprobada por lo cual ya estas habilitado para realizar el depósito bancario </h1>
    <h1>Te recordamos que debes subir el comprobante de pago a la plataforma de registro. </h1>
    <p>
        Este mensaje se envia desde posgrado EMI Cochabamba
    </p>
</body>
</html>
