<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hola! {{ Docente.nombre }} {{ Docente.apellidos }} queremos informarte que:</h1>
    <h1>Usted ha sido seleccionado para una entrevista para poder impartir clases en el centro de posgrado </h1>
    <h1>Apersonese lo más pronto posible a oficinas de posgrado o comuniquese con el número 4444444</h1>

    <p>
        Este mensaje se envia desde la dirección posgrado EMI Cochabamba
    </p>
</body>
</html>
