<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hola {{ Docente.nombre }} {{ Docente.apellidos }} queremos informarmarte que:</h1>
    <h1>Tu documentación adjuntada se encuentra {{ Docente.estado }} </h1>
    <h1>El titulo adjuntado esta {{ Docente.estado_titulo }}</h1>
    <h1>El certificado de nacimiento adjuntado esta {{ Docente.estado_certificado }}</h1>
    <h1>El formulario adjuntado esta {{ Docente.estado_formulario }}</h1>
    <h1>La cedula de identidad adjuntada esta {{ Docente.estado_cedula }}</h1>
    <h1>Por lo cual te solicitamos que te comuniques con el personal de Posgrado EMI Cochabamba </h1>
    <h1>Sus observaciones son las siguientes {{ Docente.documento_observado }}</h1>
    <p>
        Este mensaje se envia desde posgrado EMI Cochabamba
    </p>
</body>
</html>
